img {
	border-radius: 50%;
	clip-path: circle();
}
table {
	cellspacing = "20";
}
hr{
	border-style: dotted;
	color: grey;
	width: 20%;
	border-width: 10px;
	border-style: dotted none none;
}
body{
	background-image: linear-gradient(#111d5e, #c70039, #f37121, #c0e218);
	font-family: 'B612', sans-serif;
}
div{
	cursor: pointer;
}
ul{
	style
}
