img {
	border-radius: 50%;
	clip-path: circle();
}
table {
	cellspacing = "20";
}
hr{
	border-style: dotted;
	color: grey;
	width: 20%;
	border-width: 10px;
	border-style: dotted none none;
}
body{
	/* height: 100vh;
	width: 100vw; */
	/* box-shadow: inset 0px 25vh 0px #e23e57, inset 0px 50vh 0px #88304e, inset 0px 75vh 0px #522546, inset 0px 100vh 0px #311d3f, inset 0px 125vh 0px #212121; */
	background-image: linear-gradient(#e23e57, #88304e, #522546, #311d3f, #212121);
	font-family: 'B612', sans-serif;
}
div{
	cursor: pointer;
}
ul{
	style
}
